<div class="choose-search">
   <a id="current-search" ui-sref="students">Sök på studenter</a>
   <a ui-sref="companies">Sök på företag</a>
</div>

<div id="searches" class="ui-back centre">
   <form ng-submit="searchStudents()">
      <div class="search-boxes">
         <input ng-minlength=2 ng-model="search" class="right" type="text" placeholder="Frisök">
         <input ng-minlength=2 ng-model="school" class="right" type="text" placeholder="Sök på skola">
         <div class="tag-box">
            <input ng-model="searching" ng-focus="choices=true" type="text" placeholder="taggar">
            <div class="choices" ng-show="choices">
               <ul class="listChoices">
                  <li  ng-repeat="tech in technologies | orderBy:tech | filter:searching:strict" ng-click="addTag(tech)" class="tag">{{tech}}</li>
               </ul>
            </div>
         </div>
      </div>
      <ul class="tagChoices">
         <li  ng-repeat="choice in user.specialties" class="yellow">{{choice}} <i ng-click="removeChoice(choice)" class="fa fa-times-circle" aria-hidden="true"></i></li>
      </ul>
      <p><label><input ng-model="matchAll" type="checkbox"><i class="fa fa-bullseye" aria-hidden="true"></i> Matcha alla taggarna</label></p>
      <p><label><input ng-model="lastTerm" type="checkbox"><i class="fa fa-hourglass-end" aria-hidden="true"></i> Sista terminen</label></p>
      <p><label><input ng-model="showAll" type="checkbox"><i class="fa fa-globe" aria-hidden="true"></i>
Se alla studenter</label></p>
      <!-- <p><label><input ng-model="lastTerm" type="checkbox"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Slutfört utbildning</label></p> -->
      <!-- <button class="action" type="submit" class="submitter">Sök</button> -->
   </form>
   <p>Din sökning fick {{filtered.length}} träffar.</p>
   <div class="results">
      <div class="result" ng-repeat="result in results | filter:myStudentFilter as filtered">
         <div class="linkToPage"><a ui-sref="userpage({username:result.username})">
            <p>{{result.name}}</p>
            <p>{{result.contact}}</p>
         </a></div>
         <button ng-disabled="!isLoggedIn || result.isInteresting" ng-click="addAsInteresting(result.username);result.isInteresting=true;" ng-class="{adding:!result.isInteresting,isAdded:result.isInteresting}">Intressant<i class="fa" ng-class="{'fa-plus-circle':!result.isInteresting, 'fa-check-circle-o' :result.isInteresting}" aria-hidden="true"></i></button>
         <ul class="tagChoices" >
            <li ng-repeat="tag in result.specialties | limitTo:8" class="black">{{tag}}</li>
            <li class="neutral" ng-if="result.specialties.length > 8">+more</li>
         </ul>


      </div>
   </div>
</div>
