#current-search{
   background-color: $off-black;
   color:white;
}

.choose-search{
   display:flex;
   width:100%;
   a{
      font-family: $exo;
      font-weight: 800;
      display: inline-block;
      padding:6px 12px;
      flex-grow: 1;
      text-align: center;
      font-size: 0.9rem;
      text-transform: uppercase;
      color:$off-black;
   }
}

#searches{
   .search-boxes{
      text-align: left;
      margin-bottom: 15px;
      @include medium {
         text-align: left;
         margin-bottom:0px;
      }
   }
   input.right{
      margin-right:12px;
   }
   input[type="text"]{
      width:29%;

      @include medium {
         width:92%;
         margin:0px 0px 15px 0px;
         text-align: left;
      }
   }
   .choices{
      @include medium {
         margin-top:-15px;
      }
   }
   i{
      margin-left:10px;
   }
}

.results{
   margin-top:20px;
   .result{
      padding: 6px 12px;
      &:nth-child(odd){
         background-color:darken($light-grey,5%);
      }
   }
}
