// Setting variables
// colors
$light-grey: #FDFDFD;
$medium-grey:#757575;
$action: #2DB8E6;
$yellow: #F6CC4C;
$blue: #4C69F6;
$green: #4EDA44;
$soft-red: #F75E2F;
$off-black: #373737;

// fonts
$exo: 'Exo', sans-serif;

// stuff
$shadow: 0 0 5px rgba(0,0,0,0.7);
