input[type=text],textarea,input[type=password],input[type=email]{
   padding: 12px 12px;
   min-width: 250px;
   font-size: 0.9rem;
   border: 1px solid black;
   background: transparent;

   &:focus{
      background: white;
      outline-style:inset;
      outline-width: 1px;
      outline-color: rgba(0, 0, 0, 0.2);
   }
}

input[type=radio],input[type=checkbox]{
   display: inline;
}

button{
   background-color: $blue;
   color:white;
   text-transform: uppercase;
   padding: 6px 12px;
   border: none;
   border-radius: 4px;
   &:hover{
      cursor:pointer;
      box-shadow: $shadow;
   }
}

button[disabled]{
   background-color: $medium-grey;
   color: $light-grey;
   &:hover{
      cursor: default;
      box-shadow: none;
   }
}

label{
   display: block;
   margin-bottom: 10px;
   font-family: helvetica;
}

.form-group{
   display: block;
   margin-bottom: 20px;
   .ng-touched.ng-invalid{
      border: 1px solid red;
   }
   .ng-touched.ng-valid{
      border: 1px solid $action;
   }
}

textarea{
   height: 80px;
}

// CSS for dropdown-solution with tags
.tag-box{
   display: inline;
   position: relative;
   margin-bottom:10px;
   .choices{
      overflow-y: scroll;
      max-height: 160px;
      padding: 6px 12px;
      background:white;
      border:1px solid black;
      position: absolute;
      box-sizing: border-box;
      width:100%;
      top:10;
      left:0;

      ul{
         overflow: hidden;
      }
      .tag{
         font-family: helvetica;
         font-size: 0.9rem;
         padding: 2px 4px;
         cursor: pointer;
         &:hover{
            background-color: $action;
         }
      }
   }
}

.tagChoices{
   display: block;
   li{
      display: inline-block;
      margin: 0px 10px 10px 0px;
      color:black;
      padding: 6px 12px;
      font-family:$exo;
      border-radius: 4px;
      &:hover{
         box-shadow: $shadow;
         cursor:pointer;
      }
      i{
         margin-left:5px;
      }
   }
   .yellow{
      background-color: $yellow;
   }
   .black{
      background-color: $off-black;
      color:white;
   }
}
