// colors
$light-grey: #F4F4F4;
$medium-grey:#757575;
$action: #2DB8E6;
$yellow: #F6CC4C;
$blue: #4C69F6;
$soft-red: #F75E2F;
$off-black: #373737;

// fonts
$exo: 'Exo', sans-serif;

// stuff
$shadow: 0 0 5px rgba(0,0,0,0.7);

// mixins
@mixin medium{
   @media screen and (max-width: 990px) {
   @content;
  }
}

@import 'nav';
@import 'inputs';
@import 'searches';
@import 'medias';

:root{
   font-size: 16px;
}

*{
   padding:0px;
   margin:0px;
}

html,body{
   height: 100%;
   background-color: $light-grey;
}

#wrapper{
   height:auto;
   min-height: 100%;
   margin-bottom:-140px;
   &:after{
      content: "";
      display: block;
      height:150px;
   }
}

p{
   margin:0.5rem 0;
}

footer {
   height: 120px;
   background-color: $off-black;
   color:white;
   padding: 10px;
}

.container{
   max-width: 990px;
   margin:0 auto;
   position:relative;
}

.centre{
   padding: 20px 20px;
   margin: 20px auto 30px auto;
   box-shadow: $shadow;
   @include medium {
    max-width: 82%;
  }
}

.smaller{
   width: 600px;
}

.text-centre{
   text-align: center;
}

.ui-back{
   background-color: white;
}

.alert{
   background-color:$soft-red;
}

h1,h2,h3,h4{
   font-family: 'Exo', sans-serif;
   // font-weight: 800;
   color:$off-black;
}

h2{
   margin-bottom: 10px;
}

a{
   text-decoration: none;
   font-family: helvetica;
   color:$blue;
}

ul{
   list-style-type: none;
}

.action{
   color:$blue;
}

#loginHeader{
   background-color: $light-grey;
   padding: 6px 20px 6px 20px;

   a{
      width:100%;
      display: inline-block;
      text-transform: uppercase;
      text-align: right;
      color:$medium-grey;
   }
}

.logoHeader{
   background-color: $blue;
   padding: 6px 20px 6px 20px;

   h1{
      width:100%;
      display: inline-block;
      text-align: center;
      font-size:2.2rem;
      color:white;

      span{
         color:$yellow;
      }
   }
}



.animation {
   .ng-enter {
      transition: 0.3s;
      opacity: 0;
      transform:scale3d(0.9, 0.9, 0.9);
   }
   .ng-enter-active {
      opacity: 1;
      transform:scale3d(1, 1, 1);
   }
}
