// mixins
@mixin medium{
   @media screen and (max-width: 990px) {
   @content;
  }
}

// Importing files
@import '_variables';
@import '_nav';
@import '_inputs';
@import '_searches';
@import '_userpage';

// General settings
:root{
   font-size: 16px;
}

*{
   padding:0px;
   margin:0px;
}

html,body{
   height: 100%;
   background-color: $light-grey;
}

p{
   margin:0.5rem 0;
}

h1,h2,h3,h4{
   font-family: 'Exo', sans-serif;
   color:$off-black;
}

a{
   text-decoration: none;
   font-family: helvetica;
   color:$blue;
}

ul{
   list-style-type: none;
}

// Wrapper for sticky footer.
#wrapper{
   height:auto;
   min-height: 100%;
   margin-bottom:-140px;
   &:after{
      content: "";
      display: block;
      height:150px;
   }
}

// Settings for displaying the content.
.container{
   max-width: 990px;
   margin:0 auto;
   position:relative;
}

.centre{
   padding: 20px 20px;
   margin: 20px auto 30px auto;
   box-shadow: $shadow;
   @include medium {
    max-width: 82%;
  }
}

.smaller{
   width: 600px;
}

.text-centre{
   text-align: center;
}

.ui-back{
   background-color: white;
}

// Color settings for background-colors and colors.
.alert{
   background-color:$soft-red;
}

.alert-text{
   color:$soft-red;
}

.action{
   background-color: $blue;
   color:white;
}

.action-text{
   color: $blue !important;
}

.adding{
   background-color: $green;
}

.adding-text{
   color:$green;
}

.neutral{
   background-color: $yellow;
}


// Random thing
h2{
   margin-bottom: 10px;
}

// Settings for the header
#loginHeader{
   background-color: $light-grey;
   padding: 6px 20px 6px 20px;

   a{
      width:100%;
      display: inline-block;
      text-transform: uppercase;
      text-align: right;
      color:$medium-grey;
   }
}

.logoHeader{
   background-color: $blue;
   padding: 6px 20px 6px 20px;

   h1{
      width:100%;
      display: inline-block;
      text-align: center;
      font-size:2.2rem;
      color:white;

      span{
         color:$yellow;
      }
   }
}

// Settings for the footer
footer {
   height: 120px;
   background-color: $off-black;
   color:white;
   padding: 10px;
   a{
      color:white;
      display: block;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
      i{
         margin-right:0.5rem;
      }
   }
}

// CSS for main image in home-view.
.imgContainer{
   position:relative;
   width:100%;
   height:100%;
   img{
      max-width: 100%;
      min-height:300px;
      overflow:hidden;
      // filter: grayscale(100%);
      filter: blur(50%);
      transition: all 0.2s ease-in;
      &:hover{
         filter: saturate(100%);
         box-shadow: $shadow;
      }
   }

   h1{
      text-shadow: $shadow;
      font-size: 2.5rem;
      color: white;
      text-transform: uppercase;
      z-index: 3;
      position: absolute;
      bottom:20px;
      left:20px;
      @include medium {
         font-size: 1.8rem;
      }
   }
}

// *CSS for UI-view home.
.homeInfo{
   margin:0 auto;
   max-width: 100%;
   background-color: $blue;
   padding: 1rem;
   div{
      width: 48%;
      display: inline-block;
      text-align: center;
      &:last-of-type{
         float:right;
         @include medium {
            float: none;
         }
      }
      @include medium {
         width:100%;
         margin-bottom:1.5rem;
      }
      h3{
         color:white;
         span{
            color:$yellow !important;
            font-size: 1.2rem;
            vertical-align: middle;
            text-shadow: $shadow;
         }
      }
      button{
         padding: 12px 0px;
         margin-top:1rem;
         background-color: $yellow;
         color: black;
         font-family: $exo;
         font-weight: 600;
         width:100%;
      }
   }
}

// Setting animation for UI-views
.animation {
   .ng-enter {
      transition: 0.3s;
      opacity: 0;
      transform:scale3d(0.9, 0.9, 0.9);
   }
   .ng-enter-active {
      opacity: 1;
      transform:scale3d(1, 1, 1);
   }
}
