#userpage{
   #info{
      clear:both;
      margin-bottom:2rem;
      img{
         max-height:130px;
         max-width:40%;
         float:left;
         margin: 0 10px 6px 0;
      }
      i{
         font-size: 1.3rem;
         vertical-align: middle;
         margin-right:2rem;
      }
      .semi{
         font-family: helvetica;
         display: inline-block;
         margin-bottom:0px;
      }
      p:not(.semi){
         margin-bottom:2rem;
      }
   }
   #tags{
      h3{
         margin-bottom:0.5rem;
      }
   }

}
