<div id="mypage" class="ui-back centre">

   <div ng-if="!user">
      <p>Du måste <a ui-sref="login">logga in</a> för att kunna se din sida!</p>
   </div>
   <p class="alert-text">{{message}}</p>

   <div ng-if="theUser">
      <h1>Du är inloggad som {{theUser.name}}</h1>
      <h4>Användare du markerat som intressanta:</h4>
      <div class="results">
         <div class="result" ng-repeat="interest in interests">
            <div class="linkToPage"><a ui-sref="userpage({username:interest.username})">
               <p>{{interest.name}}</p>
               <p>{{interest.contact}}</p>
            </a></div>
            <ul class="tagChoices" >
               <li ng-repeat="tag in interest.specialties" class="black">{{tag}}</li>
            </ul>
            <button class="alert"  ng-click="removeInterest(interest)">Ta bort<i class="fa fa-times-circle" aria-hidden="true"></i></button>
         </div>
      </div>
      <div class="account">
         <h3>Inställningar för ditt konto</h3>
         <button class="action" ui-sref="update">Uppdatera ditt konto<i class="fa fa-wrench" aria-hidden="true"></i></button>
         <button class="alert" ng-click="removeUser()">Avsluta ditt konto<i class="fa fa-times-circle" aria-hidden="true"></i></button>
      </div>
   </div>
</div>
